[submodule "default/home/.config/nixpkgs/overlays/mozilla"]
	path = default/home/.config/nixpkgs/overlays/mozilla
	url = git@github.com:mozilla/nixpkgs-mozilla
[submodule "default/nixos/modules/mailserver"]
	path = default/nixos/modules/mailserver
	url = git@github.com:Twey/nixos-mailserver
[submodule "nixos/modules/mailserver"]
	path = nixos/modules/mailserver
	url = git@gitlab.com:Twey/nixos-mailserver
